@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h2 style="font-weight: bold; text-transform: uppercase;">TaskPro: Streamline your productivity, one task at a time!</h2>
    <p class="lead" style="text-align: justify;">"Discover a smarter way to tackle your to-do list with TaskPro. Our intuitive task management platform empowers you to prioritize, organize, and track your tasks effortlessly. Boost your productivity and achieve your goals with ease. Say goodbye to overwhelm and hello to efficient task management with TaskPro."</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<section class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 style="font-weight: bold; text-transform: uppercase; text-align: center;">About Us</h2>
            <p style="text-align: justify;">TaskPro is a leading task management platform designed to simplify your life and supercharge your productivity. Our dedicated team is passionate about helping individuals and teams stay organized, focused, and on top of their tasks. With TaskPro, you can streamline your workflow, collaborate seamlessly, and achieve your goals with confidence. Experience the power of efficient task management and unlock your full potential with TaskPro.</p>
        </div>
        <div class="col-md-4">
            <h2 style="font-weight: bold; text-transform: uppercase; text-align: center;">Our Services</h2>
            <p style="text-align: justify;">TaskPro offers a comprehensive solution for daily activity management and CRUD operations. With TaskPro, you can effortlessly organize and manage your daily activities, perform Create, Read, Update, and Delete operations with ease. Stay on top of your tasks with reminders and notifications, collaborate with others, and track your progress. Gain valuable insights with reporting and analytics features. Simplify your daily activity management and boost your productivity with TaskPro.</p>
        </div>
        <div class="col-md-4">
            <h2 style="font-weight: bold; text-transform: uppercase; text-align: center;">Contact Us</h2>
            <p style="text-align: justify;">Have questions or need assistance? Our dedicated support team at TaskPro is here to help. Feel free to reach out to us for any inquiries, feedback, or support requests. We value your input and strive to provide prompt and helpful assistance. Contact us today and let us assist you in making the most out of your TaskPro experience.</p>
        </div>
    </div>
</section>